<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <form action="{{ url_for('edit_todo', todo_id=todo.todo_id) }}" method="post">
    <label for="title">Title: </label>
    <input id="title" type="text" name="title" value="{{ todo.title }}" required placeholder="Enter todo title">
    <br>
    <label for="description">Description of todo: </label>
    <textarea id="description" type="text" name="description" required placeholder="Enter description" cols="50" rows="5">{{ todo.description }}</textarea>
    <label for="status">Status: </label>
    <select id="status" name="status" value={{ todo.status }}>
        <option value="Pending" >Pending</option>
        <option value="In Progress" >In progress</option>
        <option value="Done" >Done</option>
    </select>
    <input type="submit" value="submit" class="btn btn-primary">
   </form>
</body>
</html>