<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <title>Todos App</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('home')}}">Home</a>
        <a href="{{ url_for('todos_list')}}">View Todos</a>
        <a href="{{ url_for('create_todo')}}">Add Todo</a>
    </div>
    <h1 class="h1-center">Welcome to your favorite To-Do app</h1>
    <br>
    <p>
        To-Do is a personal project that emerged from a desire to streamline daily tasks and enhance productivity. This web application, built using the Flask module in Python, offers a simple yet powerful platform for users to manage their to-do lists effortlessly. The project's primary objective is to provide a user-friendly interface where individuals can seamlessly add, edit, mark as complete, and delete tasks within their to-do lists.
    </p>
    <br>
    <p>
        The backbone of To-Do is Flask, a lightweight and versatile web framework that facilitates the creation of dynamic web applications. Leveraging Flask's capabilities, the project ensures a smooth and responsive experience for users. The integration of Jinja, a template engine for Python, allows for the seamless incorporation of HTML and CSS into the application's design. This combination not only enhances the visual appeal of the website but also ensures a cohesive and intuitive user interface.
    </p>
    <br>
    <p>
        Adding a task to the to-do list is as straightforward as entering the task details into the designated input fields. Users have the flexibility to edit existing tasks, modifying details such as task names, due dates, or priority levels with ease. The ability to mark tasks as complete provides a sense of accomplishment, while the option to delete tasks allows for the continuous refinement of the to-do list.
    </p>
    <br>
    <p>
        To-Do is not just a task management tool; it's a personalized productivity companion designed to adapt to the user's workflow. With its clean and intuitive design, the application empowers individuals to stay organized and focused on their goals, making daily task management a seamless and enjoyable experience. Whether used for personal projects, work-related tasks, or academic assignments, To-Do is a versatile tool that caters to the diverse needs of its users.
    </p>
</body>
</html>